#navbar{
    display: flex;
    justify-content: right;
    height: 40px;

    align-items: center;
    border: 2px solid black;
   
   }
   #navbar a{
       text-decoration: none;
       align-items: center;
       margin-right: 60px;
       color:black;
    }
    a:hover{
   color:white;
     }